html
{
    scroll-behavior: smooth;
}

body
{
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.home
{
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/tfK963.jpg');
    width: 100%;
    height: 100vh;
}

.navbar {
    display: block;
    background-color: #54a0a1;
}

#nav-links {
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}

#nav-expand {
    right: 0;
    position: relative;
    left: 75%;
    color: white;
}

.wrapper
{
    overflow: hidden;
}

.caption,
.caption-home
{
    opacity: 1;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption
{
    top: 10%;
}

.caption span.border,
.caption-home span.border
 {
    background-color: #78d5d7;
    color: #000;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.about-us
{
    position: relative;
    width: 100%;
    height: 100vh;
}

.services
{
    /* background-color: rgb(219, 219, 219); */
    background-color: #f7f9f9;
    position: relative;
    width: 100%;
    height: 100vh;
}

.clients
{
    position: relative;
    width: 100%;
    height: 100vh;
}

.contact-us
{
    /* background-color: rgb(219, 219, 219); */
    background-color: #f7f9f9;
    position: relative;
    width: 100%;
    height: 100vh;
}

.icon
{
    display: none;
}

.content
{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-gap: 10%;
}

.card {
    flex: 1 1 100%;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
}
  
.price {
    color: black;
    font-size: 22px;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: black;
    background-color: #78d5d7;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card button:hover {
    opacity: 0.7;
}

.modal-header {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2563%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient2564)'%3e%3c/rect%3e%3cpath d='M1440 0L1337.33 0L1440 38.74z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1337.33 0L1440 38.74L1440 327.63L1041.52 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1041.52 0L1440 327.63L1440 331.17L708.94 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M708.94 0L1440 331.17L1440 392.01L345.00000000000006 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L705.6 560L0 306.68z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 306.68L705.6 560L996.8 560L0 238.55z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 238.55L996.8 560L1220.59 560L0 129.75z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 129.75L1220.59 560L1325.73 560L0 67.58z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2563'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='-39.29%25' x2='15.28%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2564'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(119%2c 90%2c 44%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    color: white;
    justify-content: center;
    font-weight: bold;
}

.content {
    position: relative;
    justify-content: center;
    top: 30%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.content-about {
    position: relative;
    justify-content: center;
    top: 20%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 5%;
}

#call {
    vertical-align: baseline;
}

.what-we-offer {
    position: relative;
    top: 20%;
    margin: 0px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
}

.contact-labels {
    font-weight: 900;
}

.contact-inputs-left {
    float: right;
}

@media only screen and (max-width: 1050px) {
    .icon
    {
        display: initial;
    }

    #nav-links
    {
        display: none;
    }

    .contact {
        width: 90%;
    }
}